{% extends 'layouts/index.html' %}

{% block content %}
    <style type="text/css">
        .products {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width:80%;
            margin-left:10%;
        }
        .product_block{
            margin: 20px;
            transition: all 0.3s;
        }
        .product_block:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    </style>
    <div class="products">
        {% for product in products %}
            <div class="product_block">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Rate: {{ product.rate }}</h6>
                        <a href="#" class="card-link">More</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}